.home-box {
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 2vw 5vw;
}

.swap-box {
    background-color: #ffffff1a;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    padding: 3vw;
}

.login-box {
  background-color: #ffffff1a;
  border-radius: 20px;
  padding: 3vw;
}

.swap-box-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    color: #749dca;
}

.swap-box-header * {
    color: #749dca !important;
}

.swap-input-box {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: 10px;
    margin: 10px 0;
    border: 1px solid white;
}

.swap-input-left {
    margin-left: 2vw;
    width: 80%;
    display: flex;
    flex-wrap: nowrap;
}

.swap-input-left span {
    width: 30px !important;
}

.swap-input-box h5 {
    margin: 0;
}

.swap-input-box * {
    margin-right: 2vw;
}

.swap-input-box span {
    color: white;
    width: 3vw;
}

.swap-input-box h5 {
    color: #749dca !important;
}

.swap-input {
    background-color: transparent;
    border: none;
    text-align: right;
    font-weight: bold;
    font-size: large;
    color: white;
    width: 30px;
}

.swap-input:active,
.swap-input:focus {
    outline: none;
}

.connect-button {
    background-color: #db3b44;
    width: 100%;
    padding: 1vw 2vw;
    border-radius: 30px;
    border:none;
    font-weight: bold;
    color: white;
}

.typing-animation {
    display: inline-block;
    overflow: hidden;
    /* Zapobiega rozszerzaniu elementu podczas animacji */
    animation: typing 0.5s steps(40, end) infinite;
}

/* Definicja animacji */
@keyframes typing {
  from {
    width: 0;
  }
}

.stores-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top:8vw;
}
.typewriter-title {
  font-size: 3.69em;
  line-height: 123%;
}
.typewriter-box {
  height: 70px;
  margin-left: -0.21em;
  position:relative;
  overflow: visible;
  color: white;
}
.typewriter-first-letter {
  color: #db3b44;
}
.typewriter-description-wrapper {
  margin-top: 2em;
  margin-bottom: 1em;
  position: relative;
}
.typewriter-description-fill {
  visibility: hidden;
}
.typewriter-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%l
}

.red-outline-button {
  border: 2px solid #db3b44;
  border-radius: 20px;
  width: 248px;
  padding: 12px;
  margin: 10px;
}

.typewriter-letter {
  display: inline-block;
  opacity: 0;
  animation: typewriter-anim 0.00001ms  forwards;
}

@keyframes typewriter-anim {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.red-outline-button h6 {
    font-weight: lighter;
    font-size: small;
}

.red-outline-button h3 {
    font-size: x-large;
}



@media (max-width: 991.98px) {
  .typewriter-title {
    font-size: 2.5em;
    line-height: 123%;
  }

  .red-outline-button {
      border: 2px solid #db3b44;
      border-radius: 20px;
      padding: 12px;
      margin: 10px;
      width: 100vw;
  }

  .partners-box img {
      width: 65px;
  }
}

.advantages-box {
    background-color: #ffffff1a;
    border-radius: 20px;
}

.advantages-box * {
    font-size: 10px !important;
}

.advantages-box h5 {
    font-size: 15px !important;
}

.advantages-box .col-4{
    font-size: 15px !important;
    font-weight: bold !important;
    text-align: left !important;
    border-right: 1px solid hsla(0, 0%, 100%, 0.128);
}

.advantages-box *{
    color: white;
    text-align: center !important;
}

.advantages-box>div {
    padding: 15px 2px;
    display: flex;
    justify-content: center;
    align-items: center !important;

}

.row-border-down {
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.128);
}

.row-lighter {
    background-color: rgba(255, 255, 255, 0.066);
}

.gray-text,
.active-table-button {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.gray-text {
    color: #749dca !important;

}

.active-table-button {
    color: #db3b44 !important;
}


.eco-img-mobile{
    display: none;
}


@media (max-width: 991.98px) {
    .eco-img-desktop{
        display: none;
    }

    .eco-img-mobile{
        display: block;
    }
}

.main-box{
    width: 100vw;
    min-height: 80vh;

}


.pass-password{
    width:100%;
    text-align: left;
    color: white;
    font-weight: bold;
}

.pass-box {
    background: #7099ff30;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 3vw;
    border-radius: 5px;
}

.pass-button{
    width: 100%;
    padding: 0.5vw;
    font-weight:bold;
    background: #3971ff;
    border:none;
    color: white;
    border-radius: 50px;
    margin: 1vw 0;
}

.pass-input{
    padding:0.3vw;
}

.pass-img{
    width:4vw;
    margin-bottom:2vw;
}


@media (max-width: 991.98px) {
    .pass-img {
        width: 18vw;
        margin-bottom: 6vw;
    }
    .pass-input {
        padding: 2.3vw;
    }

    .pass-button {
        width: 94%;
        padding: 2.5vw;
        font-weight: bold;
        background: #3971ff;
        border: none;
        color: white;
        border-radius: 50px;
        margin: 4vw 0;
    }

    .pass-box {
        background: #7099ff30;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        padding: 5vw;
        border-radius: 5px;
        margin: 4vw;
    }

}


.form-results{
  display: none;
  background-color: #0000005e;
  color: #f42f54;
  margin: 1em;
}
